body, html {
    margin: 0px;
    padding: 0px;
    background: #fff0;
    font-size: 11pt;
    font-family: 'Segoe UI', sans-serif;
    display: block;
}
#logo {
    top: 20px;
    left: 0;
    object-fit: cover;
    margin-top: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
}
#title {
    position: inherit;
    top: -5px;
    left: 140px;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 105px;
    color: #1e1e1e;
    font-weight: 600;
}
#count {
    font-size: 0px;
    position: absolute;
    left: 105px;
    top: 38px;
    color: #fff;
    font-weight: 500;
}
